.eg {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

  .end-of-section {
    border: 1px dashed red;
    margin: 1em;
    padding: 1em;
    color: red;
  }
  .fizzbuzz {
    color: green;
  }
}
